@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --cor-primaria: #0A3871;
  --cor-secundaria: 
  --cor-terciaria: 
  --cor-hover: 

  --fonte-primaria: "Inter", sans-serif
  --fonte-weight: 400;
}

*{
  margin: 0;
  padding: 0;
}

body {

  display: flex;
  box-sizing: border-box;
  color: var(--cor-primaria);
  background-color: #F3F5FC;
  
  flex-direction: row;
  font-family: var(--fonte-primaria);
  font-weight: var(--fonte-weight);
  align-items: flex-start;

} 

.blocoEsquerdo{
  width: 70%;
  

  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 40px;
}

.blocoEsquerdo__area{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.blocoEsquerdo__texto{
  font-family: var(--fonte-primaria);
  font-weight: var(--fonte-weight);
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  background-color: #F3F5FC;
  border-color: #F3F5FC;

}

.blocoEsquerdo__paragrafo{
  display: flex;
  
  font-family: var(--fonte-primaria);
  font-weight: var(--fonte-weight);
  font-size: 12px;
  line-height: 18px;
  text-align: left;

  padding-bottom: 16px;

}

.blocoEsquerdo__button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  border-radius: 10px;
  
  font-family: var(--fonte-primaria);
  font-weight: var(--fonte-weight);
  font-size: 16px;
  line-height: 19.36px;
  text-align: center;
  
}

.blocoEsquerdo__button__criptografar{
  font-family: var(--fonte-primaria);
  font-weight: var(--fonte-weight);
  background-color: var(--cor-primaria);
  border-color: transparent transparent transparent;
  color: White;
  
  border-radius: 10px;

  width: 300px;
  height: 67px;
}

.blocoEsquerdo__button__descriptografar{
  font-family: var(--fonte-primaria);
  font-weight: var(--fonte-weight);
  color: var(--cor-primaria);  
  border: 1px solid var(--cor-primaria);

  border-radius: 10px;

  width: 300px;
  height: 67px;
}

.blocoDireito{
  margin-top: 40px;
  height: 120px;

}

.blocoDireito__texto{
  width: 400px;
  height: 475px;
  padding: 5px;
  top: 40px;
  left: 1000px;
  gap: 0px;
  border-radius: 10px;
  border-color: #F3F5FC;
  opacity: 0px;

  font-family: var(--fonte-primaria);
  font-weight: var(--fonte-weight);
  font-size: 32px;
  
  text-align: left;
}
